<h2 style="text-align: center;">Registro de Chofer</h2>
<form class="row g-3">
    <div class="col-md-6">
        <label for="inputNombre4" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputNombre4">
    </div>
    <div class="col-md-6">
        <label for="inputTel4" class="form-label">Telefono</label>
        <input type="number" class="form-control" id="inputTel4">
    </div>
    <div class="col-md-6">
        <label for="inputImg4" class="form-label">Imagen</label>
        <input type="file" class="form-control" id="inputImg4">
    </div>
    <div class="col-md-6">
        <label for="inputCurp4" class="form-label">Curp</label>
        <input type="text" class="form-control" id="inputCurp4">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>