<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="background-color: teal; text-align: center;" class="container">
        <h1 style="background-color: teal;">Bienvenidos a la aplicacion de aventon Uta</h1><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem labore consectetur consequatur sint eveniet, blanditiis ducimus temporibus corrupti maiores ea mollitia debitis veritatis voluptas dicta minus, hic explicabo? Minus, fugiat. Excepturi
            ium sint, dicta reprehenderit at reiciendis expedita impedit porro molestias unde est fuga voluptatum. Soluta nobis nihil eveniet fugiat accusamus? Ratione, quos! Explicabo minima maxime quae dolor. Obcaecati expedita voluptate tempore sint,
            velit blanditiis perferendis animi ipsa. Architecto, ut natus. Voluptatibus dolorem sequi velit, dignissimos animi aut dolore aliquam quia? Quasi qui ipsam odit. Necessitatibus quia minus, molestias magni doloribus molestiae ipsum sit quod
            fugiat. Ab a, et recusandae accusantium tenetur delectus quas qui ut dignissimos, fugiat officiis distinctio excepturi? Quas, omnis minus explicabo labore dolore dolor, sit accusantium nam quae aspernatur voluptatem inventore aut quia esse
            voluptates ea minima amet suscipit excepturi officiis aliquid odit. Eaque doloremque voluptas vero. Fugit iure dignissimos explicabo adipisci aliquam saepe beatae quis quod est earum blanditiis enim, tempora quidem eveniet soluta rerum nulla
            repudiandae assumenda quisquam minima dolore vero impedit sint! Ex, consequuntur? Accusantium repudiandae dolore consequatur aspernatur sint ipsa. Vitae ad, corporis excepturi facilis voluptate officiis velit provident voluptates veritatis
            maiores consectetur, expedita consequatur odit distinctio est consequuntur iure eos minus. Tempora! A commodi dolores neque sit amet quisquam perferendis molestias esse autem dolore, ut ullam odit voluptatibus quae, vero itaque necessitatibus,
            quas hic! Corporis maxime esse omnis earum modi porro sequi? Dolore sed facere quos ducimus! Aliquid aperiam voluptas quia, eaque velit corrupti ipsa, praesentium similique totam accusamus quisquam id numquam explicabo labore sit in nemo.
            Fuga aliquam suscipit amet magni. Distinctio corrupti eius quis. Provident ea animi, libero officia placeat suscipit! Ratione deserunt quos molestias tempora expedita! Voluptatum delectus reprehenderit possimus. Reprehenderit molestiae veniam
            doloremque molestias necessitatibus ex reiciendis aperiam? Incidunt consequuntur adipisci delectus nulla! Unde labore sed a accusantium molestias explicabo perspiciatis repellendus voluptate similique enim commodi accusamus assumenda maxime
            dolorum minima, eos neque inventore excepturi laborum consequuntur doloribus! Esse et a suscipit quos dolores reprehenderit ducimus eos quisquam quae autem, debitis pariatur iure aperiam voluptatibus magnam incidunt praesentium. Quas, adipisci
            tenetur dignissimos expedita velit deleniti minima sit ipsa. At, temporibus ratione eum iure facere iusto. Rem sunt quas, adipisci voluptates ullam explicabo, excepturi possimus tempora, harum ab non consequuntur modi ex. Dignissimos non necessitatibus
            dolorum cum consequatur aspernatur? Natus id repudiandae impedit delectus nisi cupiditate laborum, tenetur expedita blanditiis dolorem, doloribus illum recusandae facilis at aspernatur. Delectus nam ab reprehenderit assumenda, nemo dolore
            reiciendis temporibus dolores itaque adipisci. Maxime ullam id mollitia! Dolores debitis repudiandae mollitia obcaecati, voluptates ab perferendis, illum expedita veniam numquam nobis excepturi sit aut laboriosam, consequatur voluptatem a
            laborum ullam quam! Officiis, perspiciatis dolores. Magnam totam corporis id sequi exercitationem explicabo blanditiis velit fuga quidem enim ratione maxime, aspernatur excepturi illo eaque nisi voluptas, nesciunt ipsam? Odit, repellat? Officiis
            quam asperiores ex quidem perspiciatis? Deleniti quisquam et nihil aspernatur neque impedit magnam saepe obcaecati consectetur earum voluptatibus, incidunt, similique iusto amet sint. Reprehenderit nostrum molestiae accusantium! Accusamus
            aliquam voluptatibus facilis sapiente rem deserunt? Cum. Architecto sequi illum commodi non, optio obcaecati, recusandae perferendis aliquid natus tempora sit voluptatum velit aperiam. Deserunt architecto ab officiis vel assumenda, eos id
            similique, voluptate illum possimus ea ipsum.</p>
    </div>

</body>

</html>