<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h2 style="text-align: center;">¿Registrar Pasajeros?</h2>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" (click)="registerP()" class="btn btn-outline-danger">Registrar Pasajero</button>
                <div style="text-align: center;" id="emailHelp" class="form-text">Solo el administrador puede registrar pasajeros y choferes</div>
            </div>
        </div>
        <div class="col">
            <h2 style="text-align: center;">¿Registrar Conductor?</h2>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" (click)="registerC()" class="btn btn-outline-danger">Registrar Chofer</button>
                <div style="text-align: center;" id="emailHelp" class="form-text">Solo el administrador puede registrar pasajeros y choferes</div>
            </div>
        </div>
    </div>
</div>