<button class="btn btn-warning" (click)="Regreso()"><i class="fas fa-arrow-left"></i></button>
<form class="row g-3">
    <div class="col-md-6">
        <label for="inputPlacas4" class="form-label">Placas</label>
        <input type="text" class="form-control" id="inputPlacas4">
    </div>
    <div class="col-md-6">
        <label for="inputMarca4" class="form-label">Marca</label>
        <input type="text" class="form-control" id="inputMarca4">
    </div>
    <div class="col-md-6">
        <label for="inputAño4" class="form-label">Año</label>
        <input type="number" class="form-control" id="inputAño4">
    </div>
    <div class="col-md-6">
        <label for="inputCurp4" class="form-label">Color</label>
        <input type="text" class="form-control" id="inputColor4">
    </div>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Dar de Alta</button>
    </div>
</form>